asgiref==3.4.1
click==8.0.1
colorama==0.4.4
Django==3.2.5
importlib-metadata==4.6.1
joblib==1.0.1
pytz==2021.1
regex==2021.7.6
sqlparse==0.4.1
textblob==0.15.3
tqdm==4.61.2
typing-extensions==3.10.0.0
zipp==3.5.0