{% extends "base.html" %}

{% block content %}

<div class="container">
  {% if user.is_staff %}
  <a href="{% url 'exam-create' %}" class="btn btn-block btn-success my-5">Create New Exam</a>
  {% else %}
  <a href="{% url 'logout' %}" class="btn btn-block btn-primary my-5">Quick Log Out</a>
  {% endif %}
  <h4 class="text-center">Exam List</h4>
  <table class="table table-striped table-hover">
    <tr>
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Teacher</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        {% for exam in object_list %}
        <tr>
          <td class="align-middle">{{exam.id}}</td>
          <td class="align-middle" width="99%">{{exam.title}}</td>
          <td class="align-middle">{{exam.teacher.username}}</td>
          <td class="align-middle">
            <div class="btn-group" role="group">
              {% if user.is_staff %}
              <a href="{% url 'exam-detail' exam.id %}" class="btn btn-primary">View</a>
              {% else %}
              <a href="{% url 'exam-take' new_report_id exam.id '1' %}" class="btn btn-primary">Take</a>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endblock content %}